<!DOCTYPE html>
    <html>
        <head>
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}    
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        </head>
        <body>
            <nav class="bg-green-700 py-4 z-50 ">
                <div class="container mx-auto flex items-center justify-between xl:mt-10">
                    <div class="flex items-center">
                        <a href="{{path('app_accueil')}}" class="text-white font-bold text-xl">Le ptit jardinier</a>
                    </div>

                    <div class="flex items-center">
                        <div class="relative inline-block text-left">
                            <a href="{{path('app_accueil')}}" class="text-white px-3 py-2 group-hover:text-red-500 rounded-md hover:bg-green-600 relative z-10">
                                Accueil
                            </a>
                        </div>
                        <div class="relative inline-block text-left">
                            <a onclick="openNav()" href="#" class="text-white px-3 py-2 rounded-md hover:bg-green-600">Haie</a>
                            <div id='sousmenu' class="hidden absolute bg-green-700 py-2 rounded-md text-white  mt-10 z-20">
                                <a href="{{path('app_ajouter_haie')}}" class="block px-4 py-2 hover:bg-green-600">Création</a>
                                <a href="{{path('app_modifier_list')}}" class="block px-4 py-2 hover:bg-green-600">Consultation/Modification</a>
                            </div>
                        </div>
                <div class="relative inline-block text-left">

                <a  href="{{path('app_user')}}" class="text-white px-3 py-2 rounded-md hover:bg-green-600">Client</a>
                
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('app_devis_list')}}" class="text-white px-3 py-2 rounded-md hover:bg-green-600">Devis</a>
  
            {% endif %}  

            </div>
            {% if app.user %}
                <a href="{{path('app_logout')}}" class="block px-4 py-2 hover:bg-green-600 rounded-xl text-white">Se déconnecter</a>
            {% else %}
            <div class="flex gap-6">
                <a href="{{path('app_login')}}" class="block px-4 py-2 hover:bg-green-600 rounded-xl text-white">Se connecter</a>
                <a href="{{path('app_register')}}" class="block px-4 py-2 hover:bg-green-600 rounded-xl text-white">S'inscrire</a>
            </div>

                {% endif %}
        </div>
    </nav>

{% block body %}

{% endblock %}

<script>
    let IsOpen = false;

    function openNav() {
        IsOpen = !IsOpen;
        if (IsOpen === false) {
            document.getElementById("sousmenu").style.display = "none";
            } else {
            document.getElementById("sousmenu").style.display = "block";

        }
    }
    function openNav2() {
        IsOpen = !IsOpen;
        if (IsOpen === false) {
            document.getElementById("sousmenu2").style.display = "none";
            } else {
            document.getElementById("sousmenu2").style.display = "block";

        }
    }
</script>


</body>
</html>
