{% extends 'base.html.twig' %}

{% block title %}Hello ModifierHaieController!{% endblock %}

{% block body %}
<div class="h-screen flex items-center justify-center bg-gray-100 p-4">
    <form method="POST" action="{{path('app_user_edit',{'id':user.id})}}" class="w-96 border-4 border-green-700 p-4 rounded">
        <input type="hidden" name="codeModif" value="">
        <div class="mb-4">
            <label for="email" class="block">Email :</label>
            <input type="text" name="email" id="email" value="{{user.email}}" class="w-full px-2 py-1 border rounded">
        </div>
        <div class="mb-4">
            <label for="nom" class="block">Nom :</label>
            <input type="text" name="nom" id="nom" value="{{user.nom}}" class="w-full px-2 py-1 border rounded">
        </div>
        <div class="mb-4">
            <label for="prenom" class="block">Prénom :</label>
            <input type="text" name="prenom" id="prenom" value="{{user.prenom}}" class="w-full px-2 py-1 border rounded">
        </div>
        <div class="mb-4">
            <label for="adresse" class="block">Adresse :</label>
            <input type="text" name="adresse" id="adresse" value="{{user.adresse}}" class="w-full px-2 py-1 border rounded">
        </div>
        <div class="mb-4">
            <label for="ville" class="block">Ville :</label>
            <input type="text" name="ville" id="ville" value="{{user.ville}}" class="w-full px-2 py-1 border rounded">
        </div>
        <div class="mb-4">
            <label for="cp" class="block">Code Postal :</label>
            <input type="text" name="cp" id="cp" value="{{user.cp}}" class="w-full px-2 py-1 border rounded">
        </div>
        <div class="mb-4">
            <label for="typeClient" class="block">Type Client :</label>
            <select name="typeClient" id="typeClient" class="w-full px-2 py-1 border rounded">
                <option value="1" {% if user.getTypeClient() == 0 %}selected{% endif %}>Particulier</option>
                <option value="2" {% if user.getTypeClient() == 1 %}selected{% endif %}>Professionnel</option>
            </select>
        </div>
     
        <div class="mb-4">
            <input type="submit" value="Modifier" class="w-full bg-green-700 text-white py-2 px-4 rounded cursor-pointer hover:bg-green-600 duration-200">
        </div>
    </form>
</div>
{% endblock %}
